<div class="container mt-3">
  <h1>Book your instrument</h1>
  <p><%= @instrument.instrument_type %> - <%= @instrument.model %></p>
  <%= simple_form_for [@instrument, @booking] do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit "Book now", class: "btn btn-success" %>
  <% end %>
  <br>
  <%= link_to "Back to instrument", instrument_path(@instrument) %>
</div>
