<div class="container mt-3">
<<<<<<< HEAD
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <div class="search-results">
        <% if @filtered_instruments.count > 0 %>
          <h1>Available instruments for "<%= @search_term %>"</h1>
          <% @filtered_instruments.each do |instrument| %>
            <div class="container">
              <h2><%= link_to instrument.model, instrument_path(instrument) %></h2>
              <h3><%= instrument.instrument_type %></h3>
              <p><%= instrument.location %></p>
              <p><%= instrument.description %></p>
              <p><%= instrument.price_per_day %> EUR/Day</p>
            </div>
          <% end %>
        <% else %>
          <h1>Sorry, no instruments found that match "<%= @search_term %>"</h1>
        <% end %>
=======
  <% if @filtered_instruments.count > 0 %>
    <h1>Available instruments for <em>'<%= @search_term %>'</em></h1>
    <% @filtered_instruments.each do |instrument| %>
      <div class="container">
        <div class="row">
          <div class="card col-12 pt-3">
            <% if instrument.photo.key == nil  %>
              <img class="card-img-top" src="https://media.istockphoto.com/photos/musical-instruments-picture-id894058154?b=1&k=20&m=894058154&s=612x612&w=0&h=KP5mDmuL2itWbbaG2BHUGTxOBFiK56mCvmB_6O6cm4A=" alt="Instruments">
            <% else %>
              <%= cl_image_tag instrument.photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><strong><%= "#{instrument.instrument_type} - #{instrument.model}"%></strong></h5>
              <p class="card-text"><%= instrument.description %></p>
              <p class="card-text"><%= instrument.price_per_day.round %> €/day</p>
              <a href="<%= instrument_path(instrument) %>" class="btn btn-primary">Details and booking</a>
            </div>
          </div>
        </div>
>>>>>>> main
      </div>
    </div>
  </div>
</div>
