<div class="container mt-3">
  <h1>Results for <em>'<%= @search_term %>'</em></h1>
  <% if @filtered_instruments.count == 0 %>
    <%= link_to "Back", root_path, class: "btn btn-success" %>
  <% else %>
    <div class="row">
      <% @filtered_instruments.each do |instrument| %>
        <%= link_to instrument_path(instrument) do %>
          <div class="card-product my-1">
            <% if instrument.photo.key == nil  %>
              <%= image_tag InstrumentsController::IMAGE_PLACEHOLDER_URL, { alt: "instruments", style: "filter: grayscale(80%) blur(1px); opacity: 50%;" } %>
            <% else %>
              <%= cl_image_tag instrument.photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
            <div class="card-product-infos">
              <h2><strong><%= "#{instrument.instrument_type} - #{instrument.model}"%></strong></h5>
              <p><%= instrument.price_per_day.round %> €/day</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
