<div class="container">
  <h1>Add a new instrument to rent out</h1>
  <p><%= @user.email %></p>
  <%= simple_form_for(@instrument) do |f| %>
    <%= f.input :location %>
    <%= f.input :instrument_type %>
    <%= f.input :model %>
    <%= f.input :description %>
    <%= f.input :price_per_day %>
    <%= f.button :submit, "Add Instrument", class: "btn btn-success rounded" %>
  <% end %>
</div>
