<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
      <div class="show-instrument">
        <h1><%= @instrument.instrument_type %> - <%= @instrument.model %></h1>
        <%# TODO: find a solution for dynamic size (screen width) %>
        <div class="image mb-3">
          <% if @instrument.photo.key == nil  %>
            <img class="card-img-top" src="https://media.istockphoto.com/photos/musical-instruments-picture-id894058154?b=1&k=20&m=894058154&s=612x612&w=0&h=KP5mDmuL2itWbbaG2BHUGTxOBFiK56mCvmB_6O6cm4A=" alt="Instruments">
          <% else %>
            <%= cl_image_tag @instrument.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
        </div>
        <p><%= @instrument.description %></p>
        <p><strong>Price: </strong><%= @instrument.price_per_day.round %> €/day</p>
        <p><strong>Location: </strong><%= @instrument.location %></p>
      </div>
    </div>
  </div>
</div>
<div class="container my-3">
  <h2>Book now:</h2>
  <%= simple_form_for([@instrument, @booking], data: {turbo: false}) do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit "Book now", class: "btn btn-flat-show" %>
  <% end %>
  <br/>
  <%= link_to "Back to instrument list", $search_path %>
</div>
