<div class="container mt-3">
  <h1><%= @instrument.instrument_type %> - <%= @instrument.model %></h1>

  <p>Type: <%= @instrument.instrument_type %></p>
  <p>Model: <%= @instrument.model %></p>
  <p>Description: <%= @instrument.description %></p>
  <p>Price: <%= @instrument.price_per_day %></p>
  <p>Location: <%= @instrument.location %></p>
  <p>Image: <%= @instrument.image %></p>
  <br>
</div>

<div class="container mt-3">
  <h1>Book '<%= @instrument.model %>' here:</h1>
  <%= simple_form_for([@instrument, @booking], data: {turbo: false}) do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.submit "Book now", class: "btn btn-success" %>
  <% end %>
  <br>
  <%= link_to "Back to instrument list", $search_path %>
</div>
