<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%# image_tag "https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2019%2F08%2F11%2F18%2F27%2Ficon-4399630_1280.png&imgrefurl=https%3A%2F%2Fpixabay.com%2Fvectors%2Ficon-music-symbol-internet-app-4399630%2F&tbnid=QTe3WpJ9aDUNJM&vet=12ahUKEwiW2pXP4_r3AhUN_qQKHeuyBMIQMygOegUIARDzAQ..i&docid=LAyYVJN6dnxQXM&w=1280&h=1280&q=instrument%20logo&hl=en-GB&client=firefox-b-d&ved=2ahUKEwiW2pXP4_r3AhUN_qQKHeuyBMIQMygOegUIARDzAQ" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add an instrument", new_instrument_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link"  %>
            <% else %>
              <div class="container p-0 d-flex justify-content-between">
                <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
                <span class="nav-link"></span>
                <%= link_to 'Register', new_user_registration_path, class: "btn btn-success rounded" %>
              </div>
            <% end %>

          </li>
          <li class="nav-item dropdown">
            <%# image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
