<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <%= image_tag "https://images.unsplash.com/photo-1610216705422-caa3fcb6d158?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160", class: "avatar" %>
      </button>
    <% else %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "My profile", profile_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add an instrument", new_instrument_path, class: "nav-link" %>
          </li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link"  %>
          <% else %>
            <div class="container p-0 d-flex justify-content-between">
              <%= link_to 'Log in', new_user_session_path, class: "nav-link" %>
              <span class="nav-link"></span>
              <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-flat" %>
            </div>
          <% end %>
          <%# <li class="nav-item dropdown"> %>
            <%# image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> %>
              <%# link_to "Action", "#", class: "dropdown-item" %>
              <%# link_to "Another action", "#", class: "dropdown-item" %>
              <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%# </div> %>
          <%# </li> %>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
